<div >
    <p>id: {{fullUser?.id}}</p>      
    <p>name: {{fullUser?.name}} </p>
    <p>username: {{fullUser?.username}}</p> 
    <p>email: {{fullUser?.email}} </p> 
    <p>phone: {{fullUser?.phone}}</p> 
    <p>website: {{fullUser?.website}}</p>
    <p>Adress</p>  
    <p>street: {{fullUser?.address.street}}, suite: {{fullUser?.address.suite}}, city: {{fullUser?.address.city}} </p>  
    <p>Company</p>
    <p>Company name: {{fullUser?.company.name}}, catchPhrase: {{fullUser.company.catchPhrase}}, 
    bs: {{fullUser.company.bs}} </p> 
</div>
